.board-container {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scrollbar-color: var(--primary-dark) var(--primary-light);
}

.board-container__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  height: 100%;
}

.board-container__content__categories-list {
  display: flex;
  align-items: start;
}
