@import "main.css";

.auth-container {
  width: 30%;
  margin: 75px auto auto;
  border: 1px solid black;
  border-radius: 25px;
}

.auth-container__tab {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.auth-container__tab__list {
  padding: 0;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.auth-container__tab__list__item {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 32px;
  cursor: pointer;
}

.auth-container__tab__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-container__tab__content__signup-form, .auth-container__tab__content__login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container__tab__content__login-form {
  display: none;
}

.auth-container__tab__content__signup-form__header, .auth-container__tab__content__login-form__header {
  margin: 10px;
}

.auth-container__tab__content__signup-form__input, .auth-container__tab__content__login-form__input {
  margin: 10px;
}

.auth-container__tab__content__signup-form__button, .auth-container__tab__content__login-form__button {
  margin: 10px;
}
