@import "main.css";

.auth-container {
  width: 90%;
  margin: 75px auto auto;
  border: 3px solid var(--primary-dark);
  border-radius: 25px;
  box-shadow: var(--default-shadow);
}

.auth-container__tab {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.auth-container__tab__list {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.auth-container__tab__list__item {
  margin: 10px;
  padding: 10px;
  border: 3px solid var(--primary-dark);
  border-radius: 16px;
  font-size: 32px;
  cursor: pointer;
}

.auth-container__tab__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-container__tab__content__signup-form,
.auth-container__tab__content__login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container__tab__content__login-form {
  display: none;
}

.auth-container__tab__content__signup-form__header,
.auth-container__tab__content__login-form__header {
  margin: 10px;
}

.auth-container__tab__content__signup-form__input,
.auth-container__tab__content__login-form__input {
  margin: 10px;
}

.auth-container__tab__content__signup-form__button,
.auth-container__tab__content__login-form__button {
  margin: 10px;
}

.auth-container__tab__content__signup-form__errors,
.auth-container__tab__content__login-form__errors  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-container__tab__content__signup-form__errors__list,
.auth-container__tab__content__login-form__errors__list {
  overflow-y: auto;
  max-height: 300px;
}

.auth-container__tab__content__signup-form__errors__list__item,
.auth-container__tab__content__login-form__errors__list__item {
  margin: 10px;
  padding: 10px;
  border: 3px solid var(--red);
  border-radius: 15px;
  font-size: 16px;
}

@media screen and (min-width: 762px) {
  .auth-container {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .auth-container {
    width: 30%;
  }
}

