:root {
  --primary: #64b5f6;
  --primary-dark: #2286c3;
  --primary-light: #9be7ff;
  --secondary: #ffb74d;
  --secondary-dark: #c88719;
  --secondary-light: #ffe97d;
  --green: #4CAF50;
  --red: #FF1A1A;
  --orange: #E5A42D;
  --default-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

ul,
ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  background-image: linear-gradient(260deg, var(--primary-dark) 0%, var(--primary) 100%);
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  height: 25px;
  background-image: linear-gradient(260deg, var(--primary-dark) 0%, var(--primary) 100%);
}
