.organization-container {
  width: 90%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.organization-container__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  justify-items: center;
  align-items: start;
}

.organization-container__content__boards-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 762px) {
  .organization-container {
    margin-top: 50px;
  }

  .organization-container__content {
    grid-template-columns: 1fr 4fr;
    grid-gap: 10em;
  }

  .organization-container__content__boards-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
